@*
    Authentication and Authorization
    Authenticated: I Have successfully logged in (user|Password)
    Authorized: What can I see ( am I an admin, student or instructor): ROles
*@
@if (User.Identity.IsAuthenticated)
{
    //User is Authenticated (either an adin, student, or instructor)


    if (User.IsInRole("Admin"))
    {
        //Condition 1: Admin

        //Students Dropdown Menu
        <li class="nav-item dropdown">
            <a titile="Students" class="nav-link dropdown-toggle" href="#" id="StudentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-address-book"></i> Students
            </a>
            <div class="dropdown-menu" aria-labelledby="StudentDropdown">
                <a class="dropdown-item" asp-controller="Student" asp-action="Index"><i class="fas fa-users"></i> Students</a>
                <a class="dropdown-item" asp-controller="Course" asp-action="Index"><i class="fas fa-book"></i> Courses</a>
                <div class="dropdown-divider"></div>"
                <a class="dropdown-item" asp-controller="Enrollment" asp-action="Index"><i class="fas fa-tasks"></i> Enrollments</a>
                <a class="dropdown-item" asp-controller="Student" asp-action="Stats"><i class="fas fa-chart-bar"></i> Stats Report</a>
            </div>
        </li>

        //Faculty Dropdown Menu
        <li class="nav-item dropdown">
            <a titile="Faculty" class="nav-link dropdown-toggle" href="#" id="FacultyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-building"></i> Faculty
            </a>
            <div class="dropdown-menu" aria-labelledby="FacultyDropdown">
                <a class="dropdown-item" asp-controller="Instructor" asp-action="Index"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
                <a class="dropdown-item" asp-controller="Department" asp-action="Index"><i class="fas fa-sitemap"></i> Departments</a>
            </div>
        </li>
    }
    else if (User.IsInRole("Student"))
    {
        //Condition 2: Student
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StudentEnrollemnt" asp-action="Index"> Your Courses</a>
        </li>
    }
    else if (User.IsInRole("Instructor"))
    {
        //Condition 3: Instructor
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="InstructorEnrollemnt" asp-action="Index"> Your Courses</a>
        </li>
    }

}
else
{
    //User us not authenticated: Show the guest menu links
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Listing"> Our Courses</a>
    </li>
}
